/* Gotham Book */
@font-face {
    font-family: "Gotham Book";
    src:
            local("Gotham Book"),
            local("Gotham-Book"),
            url("/fonts/Gotham-Book.woff2") format("woff2"),
            url("/fonts/Gotham-Book.woff") format("woff");
    font-style: normal;
    font-display: swap;
}

/* Gotham Medium */
@font-face {
    font-family: "Gotham Medium";
    src:
            local("Gotham Medium"),
            local("Gotham-Medium"),
            url("/fonts/Gotham-Medium.woff2") format("woff2"),
            url("/fonts/Gotham-Medium.woff") format("woff");
    font-style: normal;
    font-display: swap;
}

/* Helper classes */
.gotham-normal {
    font-family: "Gotham Book", sans-serif;
}

.gotham-medium {
    font-family: "Gotham Medium", sans-serif;
}

html {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #111;
        color: #fff;
    }
}

:root {
    --color-scheme: only light;
}

